.card {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;

    &.add_task {
        width: 40px;
        padding: 0;
        aspect-ratio: 1/1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover svg.item{
            fill: black;
        }
    }
}

.item {
    flex: 0 1 auto;

    &.card_title {
        flex-grow: 1;
    }
}

.timestamp {
    font-size: 13px;
}

svg {
    fill: rgb(145, 144, 144);
    cursor: pointer;
    transition: .3s;

    &:hover {
        fill: rgb(75, 75, 75);
    }
}

