.card {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 19px;
    transition: .2s;

    &:hover {
        background-color: rgb(250, 250, 251);
    }
}

.item {
    flex: 0 1 auto;
}

.card_value {
    flex-grow: 1;
    padding: 0 10px;
    max-width: calc(100% - 350px);
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.timestamp {
    font-size: 13px;
}