.block {
    position: absolute;
    width: fit-content;
    height: fit-content;
    padding: 8px 12px;
    background-color: white;
    box-shadow: 1px 4px 8px rgba(128, 128, 128, 0.67);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border-radius: 10px;
    transform: translate(-25%, -50%);
}

.btn {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 3px 7px;
    border-radius: 7px;
    font-weight: 600;
    transition: .2s;

    &:hover {
        background-color: black;
        color: white;
    }
}

.cancel {

}

.action {

}