* {
    padding: 0;
    margin: 0;
}

body {
    padding: 10px 0;
    margin: 0;
    min-height: 100vh;
    font-family: sans-serif;
    color: rgb(75, 75, 75);
}

.container {
    width: clamp(320px, 80%, 1200px);
    margin: auto;
    padding: 15px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: rgb(245, 243, 247);
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*.card {*/
/*    background-color: white;*/
/*    padding: 10px 20px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    gap: 10px;*/
/*    border-radius: 10px;*/

/*    &.add_task {*/
/*        width: 40px;*/
/*        padding: 0;*/
/*        aspect-ratio: 1/1;*/
/*        border-radius: 50%;*/
/*        display: flex;*/
/*        align-items: center;*/
/*        justify-content: center;*/
/*        cursor: pointer;*/

/*        &:hover svg.item{*/
/*            fill: black;*/
/*        }*/
/*    }*/
/*}*/

/*.item {*/
/*    flex: 0 1 auto;*/

/*    &.card_title {*/
/*        flex-grow: 1;*/
/*    }*/
/*}*/

/*.timestamp {*/
/*    font-size: 13px;*/
/*}*/

/*svg {*/
/*    fill: rgb(145, 144, 144);*/
/*    cursor: pointer;*/
/*    transition: .3s;*/

/*    &:hover {*/
/*        fill: rgb(75, 75, 75);*/
/*    }*/
/*}*/